{% extends 'base.html' %}
{% block title %}
	About Page
{% endblock %}

{% block content %}
    </br>
    </br>
    </br>
    <h3><bold>AP EAMCET Rank Predictor 2021 – Predict Your AP EAMCET Rank</bold></h3>
    </br>
    <p style="font-size:20px">
    <i><strong>AP EAMCET </strong>2021 Rank Predictor is the tool candidates might want after the examination. On the behalf of APSCHE, the Jawaharlal Nehru Technological University, Kakinada organizes state level entrance exam. It is Andhra Pradesh Engineering, Agriculture and Medical allied Common Entrance Test (AP EAMCET). This entrance exam is organized to get admission into engineering, medical and agricultural courses. In this article, we are giving the information about AP EAMCET Rank</i>
    </p>
    </br>


{% endblock %}