{% extends 'base.html' %}
{% block title %}
	Help Page
{% endblock %}

{% block content %}
	</br>
	<h3><bold>AP EAMCET Rank Predictor Usage & Instructions</bold></h3>
    </br>
    <p style="font-size:20px">
		<i><strong>AP EAMCET</strong> 2021 rank predictor is very important tool, by which students can predict their expected ranks. To use this tool candidates must be aware of the general instruction & usage guidelines.</i>

    </br>

    <ul>
    <li><i>In order to use the tool candidates have to enter their details gender,caste,interested branch, rank in AP EAMCET exam.</i></li>
    </br>
    <li><i>Candidates must make sure to enter their correct information which will be analyzed by tool to display the best possible rank that you may score in the exam.</i></li>
    </br>
    <li><i>The rank calculated by the tool is not 100% correct. Hence the candidates must make sure that this is not their final rank.</i></li>
    </br>
    <li><i>With the help of our rank predictor tool, students can plan their counselling process and availability of colleges on behalf of their estimated rank.</i></li>
    </ul>
    </br>
    </p>



{% endblock %}

